<div class="container-fluid">
  <form [formGroup]="registrationForm" action="">
    <div class="form-group">
      <label for="">Name</label>
      <input
        [class.is-invalid]="
          registrationForm.get('name')!.invalid &&
          registrationForm.get('name')!.touched
        "
        formControlName="name"
        type="text"
        class="form-control"
      />

      <small
        [class.d-none]="
          registrationForm.get('name')!.valid ||
          registrationForm.get('name')!.untouched
        "
        class="text-danger"
        >Name is required</small
      >
    </div>

    <div class="form-group">
      <label for="">EmailID</label>
      <input
        [class.is-invalid]="
          registrationForm.get('email')!.invalid &&
          registrationForm.get('email')!.touched
        "
        formControlName="email"
        type="email"
        class="form-control"
      />

      <div
        *ngIf="
          registrationForm.get('email')!.invalid &&
          registrationForm.get('email')!.touched
        "
      >
        <small
          *ngIf="registrationForm.get('email')!.errors?.required"
          class="text-danger"
          >Email is required</small
        >
        <small
          *ngIf="registrationForm.get('email')!.errors?.email"
          class="text-danger"
          >Invalid Email</small
        >
      </div>
      <!-- <small
        [class.d-none]="
          registrationForm.get('email')!.valid ||
          registrationForm.get('email')!.untouched
        "
        class="text-danger"
        >Email is required</small
      > -->
    </div>

    <div class="form-group">
      <label for="">Create Password</label>
      <input
        [class.is-invalid]="
          registrationForm.get('password')!.invalid &&
          registrationForm.get('password')!.touched
        "
        formControlName="password"
        type="password"
        class="form-control"
      />

      <div
        *ngIf="
          registrationForm.get('password')!.invalid &&
          registrationForm.get('password')!.touched
        "
      >
        <small
          *ngIf="registrationForm.get('password')!.errors?.required"
          class="text-danger"
          >Password is required</small
        >
        <small
          *ngIf="registrationForm.get('password')!.errors?.pattern"
          class="text-danger"
          >Password should be at least 8 characters long and should contain one
          number,one character and one special character.
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="">Mobile number</label>
      <!-- <input type="number" placeholder="91" style=" "> -->
      <input
        [class.is-invalid]="
          registrationForm.get('mobileNumber')!.invalid &&
          registrationForm.get('mobileNumber')!.touched
        "
        formControlName="mobileNumber"
        type="number"
        class="form-control"
      />

      <div
        *ngIf="
          registrationForm.get('mobileNumber')!.invalid &&
          registrationForm.get('mobileNumber')!.touched
        "
      >
        <small
          *ngIf="registrationForm.get('mobileNumber')!.errors?.required"
          class="text-danger"
          >Mobile number is required</small
        >
        <small
          *ngIf="registrationForm.get('mobileNumber')!.errors?.pattern"
          class="text-danger"
          >Enter valid mobile number
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="">Current City</label>
      <input
        [class.is-invalid]="
          registrationForm.get('city')!.invalid &&
          registrationForm.get('city')!.touched
        "
        formControlName="city"
        type="text"
        class="form-control"
      />

      <small
        [class.d-none]="
          registrationForm.get('city')!.valid ||
          registrationForm.get('city')!.untouched
        "
        class="text-danger"
        >City is required</small
      >
    </div>

    <div>
      <button type="button" (click)="addFamilyMembers()">
        Add Family Members
      </button>
      <button type="button" (click)="deleteFamilyMembers()">Remove Family Members</button>

      <div
        formArrayName="familyMembers"
        *ngFor="let members of familyMembers.controls; let i = index"
      >
        <div [formGroupName]="i">
          <label for="">Name</label>
          <input [class.is-invalid]="members.get('name')!.invalid &&
          members.get('name')!.touched" type="text" formControlName="name" />

          <label for="">Relation</label>
          <input type="text" formControlName="relation" />
        </div>
      </div>
    </div>
    <button routerLink="/input/display" type="submit" (click)="onsubmit()">submit</button>
  </form>
</div>
<!-- {{ registrationForm.value | json }} -->

<router-outlet></router-outlet>

<!-- <div >
  <h2>Reactive Form Demo</h2>
  <form [formGroup]="registration_form">
    <div >
      <label for="">Username</label>
      <input formControlName="username" type="text" >
    </div>

    <div >
      <label for="">Password</label>
      <input formControlName="password" type="password" >
    </div>

    <div >
      <label for="">Confirm Password</label>
      <input formControlName="confirmPassword" type="password" >
    </div>

    <div formGroupName="address">
      <label for="">City</label>
      <input formControlName="city" type="text">

      <label for="">State</label>
      <input formControlName="state" type="text">

      <label for="">Postal Code</label>
      <input formControlName="postalCode" type="number" name="" id="">
    </div>

    <button type="submit">Register</button>
    <button (click)="loadApi()">Load API</button>
  </form>

  {{registration_form.value.address.state}}

</div> -->
